# =========================
# Application
# =========================

NODE_ENV=development
PORT=8004


# =========================
# MySQL Database
# =========================

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=quantumcart
DB_PASSWORD=your_database_password
DB_NAME=quantumcart_orders
DB_CONNECTION_LIMIT=10

# Used by database/test database setup scripts
DB_ROOT_USER=root
DB_ROOT_PASSWORD=your_root_password


# =========================
# External Services
# =========================

PRODUCT_SERVICE_URL=http://localhost:8002
CART_SERVICE_URL=http://localhost:8003